<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{this.id}}" data-newDevoured="{{newDevoured}}">
		{{#if devoured}}Devoured!{{else}}EAT ME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>
